<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 

    <body>
    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blog.length>0){ %>
            <% blog.forEach(blog =>{%>
              <a class="single" href="/blog/<%= blog._id%>">
                <h3 class="title"><%=blog.title %></h3>
                <p class="snippet"><%=blog.snippet %></p>
               
              </a>
                <%})%>
                <%} else{ %>
                    <p>There in no blogs to dispaly...</p>
                    <% } %>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>